.switch-language {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 40px;
}

.flag {
    width: 30px;
    height: 30px;
}
  
.language {
    display: none;
}
  
.language + label {
    cursor: pointer;
}
  
.language + label img {
    transition: transform 0.3s ease;
}
  
.language:checked + label img {
    transform: rotate(360deg);
}

.flag-down {
    position: absolute;
    top: 0;
    left: -2px;
}

.flag-up {
    position: absolute;
    top: 7px;
    left: 5px;
}

@media only screen and (max-width: 700px) {
    .flag {
        width: 25px;
        height: 25px;
    }
    .flag-down {
        top: -2px;
        left: 5px;
    }
    .flag-up {
        top: 5px;
        left: 12px;
    }
}